.alarm {
	background-color: rgb(150,150,150);
	border-radius: 0.5em;
	border: 1px solid black;
}

.alarm > * {
	margin: 1%;
}

.alarm input {
	width: 5vw;
}

#myClock {
	font-size: 48px;
	border: 1px solid darkblue;
	border-radius: 0.5em;
	padding: 1vh 1vw;
	background-color: lightblue;
	display: inline-block;
	text-align: center;
}

#audioAlarms {
	float: right;
}

#text {
	margin: 1vh 1vw;
	background-color: #d56;
	border: 2px solid darkblue;
	border-radius: 0.5em;
	padding: 1vh 1vw;
}

.blink {
	animation-name: blinkAnimation;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

@keyframes blinkAnimation {
	from {background-color: red;}
	to {background-color: grey;}
}